stages:
  - mavenbuild
  - maventest
  - mavendeploy
  - androidbuild
  - androidtest

maven-build:
  stage: mavenbuild
  tags:
    - backend_tag
  script:
    - cd Backend/TheHiveApp
    - mvn package
  artifacts:
    paths:
      - Backend/TheHiveApp/target/*.jar

maven-test:
  stage: maventest
  tags:
    - backend_tag
  script:
    - cd Backend/TheHiveApp
    - mvn test

maven-deploy:
  stage: mavendeploy
  tags:
    - backend_tag
  script:
    - sudo mv Backend/TheHiveApp/target/*.jar /target/web-demo.jar
    - sudo systemctl stop system-web-demo
    - sudo systemctl start system-web-demo

android-build:
  image: gjandres/android-ci:latest
  stage: androidbuild
  tags:
    - frontend_tag
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/gradlew
    - chmod +x ./Frontend/gradle/wrapper/gradle-wrapper.jar
    - ls -al Frontend/gradle/wrapper
  script:
    - cd Frontend
    - ./gradlew clean assemble --stacktrace --debug
  artifacts:
    paths:
      - Frontend/app/build/outputs/
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - .gradle/
      - Frontend/.gradle/
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 1

android-test:
  image: gjandres/android-ci:latest
  stage: androidtest
  tags:
    - frontend_tag
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/gradlew
    - chmod +x ./Frontend/gradle/wrapper/gradle-wrapper.jar
    - ls -al Frontend/gradle/wrapper
  script:
    - cd Frontend
    - ./gradlew clean test --stacktrace --debug
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - .gradle/
      - Frontend/.gradle/
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 1