stages:
  - mavenbuild

maven-build:
  stage: mavenbuild
  tags:
    - backend_tag
  script:
    - cd Backend/TheHiveApp
    - export DB_PASSWORD=$DB_PASSWORD
    - mvn package
    - sudo mv target/*.jar /target/web-demo.jar 
    - sudo systemctl stop system-web-demo
    - sudo systemctl start system-web-demo
