<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HIveeApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!--Login Activity-->
        <activity android:name=".registration.login.LoginActivity" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign up and related activities -->
        <activity android:name=".registration.signup.signupActivity" android:exported="true" />
        <activity android:name=".registration.signup.studentsignupActivity" android:exported="true" />
        <activity android:name=".registration.signup.employersignupActivity" android:exported="true" />
        <activity android:name=".registration.signup.companysignupActivity" android:exported="true" />

        <!-- Company Activity -->
        <activity android:name=".company_user.CompanyMainActivity" android:exported="true" />

        <activity android:name=".employer_user.EmployerMainActivity" android:exported="true" />
        <activity android:name=".employer_user.setting.EmployerProfileActivity" android:exported="true" />
        <!--        <activity android:name=".employer_user.model.CreateJobsActivity" android:exported="true" />-->
        <activity android:name=".employer_user.model.EmployerLoginActivity" android:exported="true" />
        <activity android:name=".employer_user.model.TrackingApplicationActivity" android:exported="true" />

        <activity android:name=".employer_user.display.EditJobActivity" android:exported="true" />
        <activity android:name=".employer_user.display.AddJobActivity" android:exported="true" />


<!--        <activity android:name=".employer_user.setting.employerinfoApi" android:exported="true" />-->
        <activity android:name=".employer_user.setting.ViewEmployerInfoActivity" android:exported="true" />
<!--        <activity android:name=".employer_user." android:exported="true" />-->

        <!-- Student Activity -->
        <activity android:name=".student_user.StudentMainActivity" android:exported="true" />

        <!-- Add the StudentProfileActivity -->
        <activity android:name=".student_user.profile.StudentProfileActivity" android:exported="true" />
        <activity android:name=".student_user.profile.StudentProfileViewActivity" android:exported="true" />

        <!-- Student Chat Activity -->
        <activity android:name=".student_user.chat.ChatActivity" android:exported="true"/>
        <activity android:name=".student_user.chat.ChatListActivity" android:exported="true"/>

        <!-- Employer Chat Activity -->
        <activity android:name=".employer_user.chat.EmployerChatActivity" android:exported="true"/>
        <activity android:name=".employer_user.chat.EmployerChatListActivity" />


        <activity android:name=".student_user.swipe.ApplyActivity" android:exported="true"/>

        <!-- Admin Activity -->
        <activity android:name=".admin_user.AdminMainActivity" android:exported="true" />

        <!-- Company Add/Delete/Get/Update Activity -->
        <activity android:name=".company_user.handleEmployers.EmployerCreationActivity" />
        <activity android:name=".company_user.handleEmployers.EmployerListActivity" />

        <!-- Company Add/Delete/Get/Update Invitation Activity -->
        <activity android:name=".company_user.invitations.InvitationManagementActivity" />
        <activity android:name=".company_user.invitations.InvitationCreationActivity" />

        <!-- Forgot Password Activities -->
        <activity android:name=".registration.forgotPassword.ForgotPasswordActivity" />
        <activity android:name=".registration.forgotPassword.VerifyKeyActivity" />
        <activity android:name=".registration.forgotPassword.ResetPasswordActivity" />

    </application>

</manifest>