<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HIveeApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!--Login Activity-->
        <activity android:name=".registration.LoginActivity" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Company Data Activity -->
        <activity android:name=".volley.JsonArrReqActivity" />

        <!-- Company Activity -->
        <activity android:name=".company_user.CompanyActivity"
            android:exported="true">
        </activity>

        <!-- Company Add/Delete/Get/Update Activity -->
        <activity android:name=".company_user.handleEmployers.CompanyActivityApi"/>

        <!-- Company See Employers Activity -->
        <activity android:name=".company_user.handleEmployers.SeeUsersActivity" />

        <!-- Company Add/Delete/Get/Update Invitation Activity -->
        <activity android:name=".company_user.invitations.AddInvitationActivity" />
            <!--           employer main activity-->
<!--        <activity android:name=".employer_user.EmployerMainActivity" android:exported="true"/>-->
<!--        employer profile acitivity-->
<!--        <activity android:name=".employer_user.employerProfileActivity" android:exported="true"/>-->
<!--                employer profile layout-->
        <activity android:name=".model.employerProfile"/>
<!--             page to add new jobs and information-->
        <activity android:name=".employer_user.AddJobActivity" android:exported="true"/>
<!--          page for the employer-->
        <activity android:name=".employer_user.mainEmployer" android:exported="true"/>





    </application>
</manifest>
