<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HIveeApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!--Login Activity-->
        <activity android:name=".registration.login.LoginActivity" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--                       got to sign up page-->
        <activity android:name=".registration.signup.signupActivity" android:exported="true">
           </activity>

        <!--                go to student signup activity -->
        <activity android:name=".registration.signup.studentsignupActivity" android:exported="true">
        </activity>
<!--                       go to employer signup activity -->
        <activity android:name=".registration.signup.employersignupActivity" android:exported="true">

        </activity>

        <activity android:name=".registration.signup.companysignupActivity" android:exported="true">

        </activity>


        <!-- Company Activity -->
        <activity android:name=".company_user.CompanyMainActivity"
            android:exported="true">
        </activity>

        <!-- Student Activity -->
<!--        <activity android:name=".student_user.StudentMainActivity"-->
<!--            android:exported="true">-->
<!--        </activity>-->

        <!-- Admin Activity -->
        <activity android:name=".admin_user.AdminMainActivity"
            android:exported="true">
        </activity>


        <!-- Company Add/Delete/Get/Update Activity -->
        <activity android:name=".company_user.handleEmployers.EmployerCreationActivity"/>
        <activity android:name=".company_user.handleEmployers.EmployerListActivity"/>

        <!-- Company Add/Delete/Get/Update Invitation Activity -->
        <activity android:name=".company_user.invitations.InvitationManagementActivity" />
        <activity android:name=".company_user.invitations.InvitationCreationActivity" />
        <activity android:name=".company_user.invitations.AddInvitationActivity" />

<!--          page for the employer-->
        <activity android:name=".employer_user.EmployerMainActivity" android:exported="true"/>
        <activity android:name=".employer_user.model.TrackingApplicationActivity" android:exported="true"/>
<!--        <activity android:name=".employer_user.ChatActivity" android:exported="true"/>-->
        <activity android:name=".employer_user.model.employerinfoActivity" android:exported="true"/>






        <!-- forgot password Activity -->
        <activity android:name=".registration.forgotPassword.ForgotPasswordActivity" />
        <activity android:name=".registration.forgotPassword.VerifyKeyActivity" />
        <activity android:name=".registration.forgotPassword.ResetPasswordActivity" />
        <activity android:name=".student_user.StudentMainActivity" />
        <activity android:name=".student_user.studentProfileActivity" />
    </application>

</manifest>